/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/02/2023, 09:51:15
    Author     : dell
*/

  :root{
                --white: #FFFFFF;
                --black:  #000000;
                --very--light--pink: #C7C7C7;
                --text--input--field: #F7F7F7;
                --hospital--green: #ACD9B2;
                --dark: #232830;
                --sm: 14px;
                --md: 16px;
                --lg: 18px;
            }
            body{
                margin: 0;
                font-family: 'Quicksand', sans-serif;
            }
            .container-createDelete{
                width: 100%;
                height: 100vh;
                display: flex;
                place-items: center;
            }
            .container{
                margin-left: 50px;
                width: 35%;
                height: 85%;
                display: flex;
                place-items: center;
                flex-direction: column;
            }
            .container-list{
                width: 57%;
                height: 85%;

            }
            .logo{ 
                margin-top: 20px;

                width: 300px;
                height: 150px;
            }
            .container-form{

                width: 300px;
                height: 400px;
            }
            .form{
                display: flex;
                flex-direction: column;
                width: 300px;
            }
            .label{
                font-size: var(--sm);
                font-weight:  bold;
                margin-bottom: 4px;
            }
            .input {
                background-color: var(--text--input--field);
                border: none;
                border-radius: 8px;
                height: 32px;
                font-size: var(--md);
                padding: 6px;
                margin-bottom: 12px;
            }
            .select-are{
                background-color: var(--text--input--field);
                border: none;
                border-radius: 8px;
                height: 40px;
                font-size: var(--md);
                padding: 6px;
                margin-bottom: 12px;
            }
            .button{
                background-color: var(--white);
                color: var(--hospital--green);
                border: 4px solid var(--hospital--green);
                border-radius: 8px;
                width: 100%;
                cursor: pointer;
                font-size: var(--md);
                font-weight: bold;
                height: 50px;
                margin-top: 70px;

            }
            .title{
                font-size: var(--lg);
                text-align: center;
            }

            .logo img{
                margin-left: 100px;
                max-width: 300px;
                height: 150px;
                border-radius: 50px;
            }
            table{
                background-color: var(--white);
                width: 100%;
                text-align: left;
                border-collapse: collapse;

            }
            th,td{
                padding: 10px;

            }
            td{
                font-size: var(--sm);
                color:black;

            }
            thead{
                background-color: var(--text--input--field);
                font-size: var(--md);

            }
            tr:hover td{
                background-color: var(--hospital--green);
                color: var(--white);
            }
            .button-secundary{
                background-color: var(--white);
                color: var(--hospital--green);
                border: 4px solid var(--hospital--green);
                border-radius: 8px;
                width: 75%;
                height: 30px;
                cursor: pointer;
                font-size: var(--md);
                font-weight: bold;
            }
            .encabezado{
                width: 100%;
                height: 60px;
                display: flex;
                place-items: center;
                background-color: var(--hospital--green);
            }
           .nav{
                margin-left: 80px;
                height: 50px;
                margin-top: 25px;
            }
            .a-encabezado{
                padding-left: 40px;
                color: black;
                font-size: var(--lg);
                font-weight:  bold;
                text-decoration: none;
                }
               
             